.clap-button {
  border: 1px solid #bb77fc;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;
}
.clap-button:hover {
  animation: none;
}
.clap-animation {
  position: relative;
  top: 20px;
  left: 10px;
}
.clap {
  position: relative;
  transition: all 100ms;
  transition-timing-function: ease-in-out;
}
.hand-left {
  /* top: 10px;
  left: 5px; */
  top: -5px;
  left: -7px;
  z-index: +1;
  transform: scale(0.8);
}
.hand-right {
  z-index: -1;
  top: -60px;
  left: 4px;
  transform: scale(0.8);
}
.clap-start.hand-right {
  top: -75px;
  left: 10px;
  transform: rotate(-20deg) scale(0.6);
}
.clap-start.hand-left {
  top: 6px;
  left: -15px;
  transform: rotate(50deg) scale(0.9);
}
.clapping.hand-left {
  top: 5px;
  left: -5px;
  transform: rotate(60deg) scale(0.8);
}
.clapping.hand-right {
  top: -65px;
  left: 0px;
  transform: rotate(-10deg) scale(0.8);
}
.credits {
  position: relative;
  top: 25px;
  left: -45px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  font-family: MONOSPACE;
  color: #4f4f4f;
}
a {
  color: #4d4d4d;
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
            supported by Chrome and Opera */
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(7, 83, 184, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(3, 168, 124, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(3, 80, 168, 0.4);
    box-shadow: 0 0 0 0 rgba(3, 61, 168, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(3, 168, 124, 0);
    box-shadow: 0 0 0 10px rgba(3, 168, 124, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
    box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
  }
}
