h2 {
  margin-bottom: 0;
}

#profile-pic {
  border-radius: 50%;
}

.follow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.follow-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 150px;
  margin: 0;
}

.hover-cursor {
  cursor: pointer;
}
