.genNewsWrapper {
  display: flex;
  flex-direction: column;
}

.articleWrapper {
  display: flex;
}

.aricle-center {
  margin-left: 3%;
  width: 550px;
}

.article-bottom {
  margin-top: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.source {
  font-family: "Bad Script", cursive;
}

.urlToImage {
  max-width: 250px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.devPage {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

/* .dev-card {
  width: 600px;
} */

.devCard {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  display: "flex";
}
.devArticleDescript {
  font-size: 16px;
  width: 550px;
}

.display-dev-articles {
  height: 900px;
  overflow-y: scroll;
}

.line-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
}
