.genNewsWrapper {
  display: flex;
  flex-direction: column;
}

.articleWrapper {
  display: flex;
}

.aricle-center {
  margin-left: 3%;
}

.article-bottom {
  margin: 15px;
}

.source {
  font-family: "Bad Script", cursive;
}

.urlToImage {
  max-width: 250px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.devPage {
  display: flex;
}

.devCard {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  display: "flex";
  width: 800px;
}
.devArticleDescript {
  font-size: 16px;
}
