.mainNav{
    display:flex;
    border: 1px solid black;
    margin: auto;
    
}

img {
  display:flex;
    width:280px;
    height: 150px;
    
}
.nav_wrap{
    display:flex;
    margin: 30px auto;
    text-align:justify;
 
}
.Nlinks {
text-align: center;
text-decoration: none;

font-size:25px;
margin: 20px;
}
.bookM {
    width: 28px;
    height: 40px;
    border:none;
}
