.nav {
  display: flex;
}
.logoImg {
  margin-top: 0px;
  height: 80px;
  width: 120px;
}
.NavContainer {
  height: 8vh;
}
.nav-items {
  display: flex;
  justify-content: space-between;
}
.navButtons {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
.nav_btn {
  margin-left: 10%;
  margin-right: 10%;
  background: #662964;
  color: #fff;
  border-color: #d9d9d9;
}
.nav_btn:active {
  background: #e21bda;
}
.nav_btn:hover {
  background: #8c2888;
}
.logoPic {
  position: relative;
  top: -27px;
  /* border: 1px solid black; */
  width: 170px;
  height: 140px;
}
.search-userPic {
  display: flex;
}
