.top-section {
  width: 100vw;
  height: 500px;
}

.avatar-wrapper {
  bottom: -87px;
  left: 10px;
  position: absolute;
  z-index: 3;
}

.avatar {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
  object-fit: contain;
}

.top-wrapper {
  height: 500px;
}

.cover-wrapper {
  position: relative;
  width: 100%;
  z-index: 4;
}
.cover-section {
  margin-top: 0px;
}

.cover-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.cover {
  left: 0;
  right: 0;
  top: -99999px;
  bottom: -99999px;
  margin: 0 auto;
  width: 100%;
  height: 350px;
}

.tabs-wrapper {
  background-color: #fff;
  box-sizing: border-box;
  height: 60px;
}

.tab-items {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.tab-extra {
  margin-left: 0%;
}
.tabs {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.articles {
  margin-top: 350px;
}

.bookmarks {
  margin-top: 350px;
}

.user-page-follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.display-following {
  margin-top: 40px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user-following {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.follow-name {
  margin-left: 30px;
}

.user-page-claps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.display-clap-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  width: 90vw;
  margin-top: 40px;
}

.clap-article-wrapper {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
}

.clap-article-card {
  width: auto;
  height: auto;
}

.clap-article-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: inherit;
}

.clap-article-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.clap-article-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.follow-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: auto;
  margin-bottom: 20px;
}
