.gifButton {
  display: flex;
  position: absolute;
  right: 300px;
  top: 110px;
  justify-content: right;
}

.gifButton {
  background: #662964;
  color: #fff;
  border-color: #d9d9d9;
}
.gifButton:active {
  background: #e21bda;
}
.gifButton:hover {
  background: #8c2888;
}
